@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap");

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%; /*making sure that 1rem = 10px*/
}

body {
  color: #00112c;
  font-family: "Roboto Slab", serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
}

/*SETTTING UP FLEXBOXES */

.nav-wrapper, .information-flex, .payment-flex, .footer-container, .landing-flex, .transactions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-wrapper, .information-flex, .payment-flex, .footer-container {
  justify-content: space-between;
}

.landing-flex, .transactions {
  justify-content: center;
}

/*CENTERING FOR CONTAINERS OF MAX 1248PX WIDTH*/

nav, .landing, .information-flex, .payment-flex,.transactions, .footer-container {
  margin: 0 auto;
  max-width: 1248px;
}

/*TEXT FONT STYLES*/

h1,
h2,
h3,
h4,
h5,
.green-button,
.informatio-button,
.outro-button a,
span {
  font-weight: 600;
}

h1 {
  font-size: 6rem;
  line-height: 6.4rem;
  text-align: left;
  width: 80%;
}

h2 {
  font-size: 4.8rem;
  line-height: 5.8rem;
  text-align: center;
}

h3 {
  font-size: 3.2rem;
  line-height: 4.2rem;
  padding: 2.4rem;
}

h4,
h5 {
  font-size: 2rem;
  line-height: 2rem;
}

h5 {
  text-align: left;
}

.landing-info p {
  width: 90%;
}

p {
  padding: 2.4rem 0;
  font-size: 2rem;
  line-height: 3rem;
}

/*STYLES FOR NAV BAR*/
nav {
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}
.nav-wrapper {
  height: 7rem;
  top: 0;
  width: 100%;
  background: #fff;
}

.nav-hover-green-border a:hover {
  border-top: 0.4rem solid transparent;
  border-color: #0abf53;
  padding-bottom: 2.2rem;
  padding-top: 2rem;
}

.nav-element-margin {
  margin-right: 17.7rem;
}

.nav-wrapper img {
  width: 10rem;
  height: 3.9rem;
}

/*STYLES FOR BUTTONS AND LINKS*/

.green-button,
.green-button:hover,
.outro-button a,
.footer-container li a:link,
.footer-container li a:visited,
.footer-container li a:hover {
  color: #fff;
}

.green-button {
  background-color: #0abf53;
  border: none;
  line-height: 1.6rem;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin: 1.2rem 1.2rem 1.2rem 0;
}

.green-button:hover {
  background-color: #078f3e;
  border-color: #078f3e;
  transition: all 0.2s ease-in-out;
}
.informatio-button {
  color: #0abf53;
  background-color: transparent;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  font-size: 1.6rem;
}

.informatio-button a:link,
.informatio-button a:visited,
.informatio-button a:hover {
  color: #0abf53;
}

.informatio-button a:hover {
  box-shadow: none;
  border-bottom: 0.1rem solid transparent;
  border-color: #0abf53;
  padding-bottom: 1.2rem;
}

.outro-button {
  padding: 0 2.4rem;
  margin: 0;
  background-color: #00112c;
  border-color: #00112c;
}

.outro-button a {
  display: inline-block;
  line-height: 1.6rem;
  font-size: 1rem;
  margin: 1.2remx 1.2rem 1.2rem 0;
}

.outro-button:hover {
  cursor: pointer;
  background-color: #1b2b44;
  border-color: #1b2b44;
}

.footer-container li a:hover {
  text-decoration: underline;
}

/*STYLES FOR LANDING SECTION*/

.landing-flex {
  width: 100%;
}

.landing-info {
  padding-left: 2.4rem;
  flex-basis: 45%;
}

.landing-video {
  flex-basis: 42%;
  margin-left: 4rem;
}

.landing-video video {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.brands-logo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  padding: 4.8rem 0;
}

.brands-logo img {
  width: 100%;
  max-width: 16rem;
  height: 7rem;
}

/*STYLES FOR INFORMATION ABOUT POSSIBILITIES WITH ADYEN*/

.information-container {
  background: #f3f6f9;
  text-align: center;
  padding-top: 9.6rem;
  width: 100%;
}

.information-flex {
  padding-bottom: 10rem;
}
.information-container img {
  width: 4rem;
  height: 4rem;
}

.growth-flex {
  flex-basis: 32%;
}

.white-space img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 9.5rem;
}

/*STYLE FOR PAYMENT INFORMATION SECTION*/

.payment-flex {
  width: 100%;
}

.payments-info {
  padding-bottom: 4.8rem;
}

.payments-info h2,
.center-text {
  width: 50%;
  max-width: 567px;
  margin: 0 auto;
  text-align: center;
}

.center-button {
  text-align: center;
}

.payments-info img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 3rem 0;
}

.payment-left,
.payment-right {
  flex-basis: 50%;
}

.payment-left {
  padding-left: 4.8rem;
}

.payment-right {
  padding-left: 4.8rem;
  padding-right: 2.4rem;
}

.payment-flex p {
  padding: 0 0 2.4rem;
}

.payments-info .informatio-button {
  padding-bottom: 4.8rem;
}

/*TRANSACTIONS SECTION STYLES*/

.transactions-wrapper {
  background: #00112c;
  padding-bottom: 4.8rem;
  padding-top: 4.8rem;
}

.transactions {
  width: 90%;
}

.transactions h2,
.transactions h5,
.transactions p {
  color: #fff;
  text-align: left;
  padding-left: 0;
}

.transactions img {
  width: 2rem;
}

.transactions-video video {
  width: 100%;
  height: auto;
}

.transactions-video {
  flex-basis: 48%;
}

.transactions-right {
  flex-basis: 32%;
}

.transactions-info {
  flex-basis: 23%;
  margin-bottom: 2.4rem;
}

/*JOURNEY SECTION STYLE*/

.outro-section {
  background-color: #0abf53;
  color: #fff;
  text-align: center;
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

/*FOOTER STYLES*/

footer {
  padding-top: 9.6rem;
  padding-bottom: 0;
  background: #00112c;
  color: #fff;
}

footer a:visited {
  color: #fff;
}

.footer-container {
  width: 100%;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

.footer-container li {
  padding-bottom: 0.6rem;
}

.footer-elements {
  align-self: flex-start;
  flex-basis: 18%;
}

.newslettter {
  flex-basis: 28%;
}

.newslettter form input {
  width: 83%;
  background: transparent;
  margin: 1.5rem 0;
}

.newslettter form button {
  position: relative;
  cursor: pointer;
  width: 15%;
  left: -0.5rem;
}

.newslettter form input,
.newslettter form button {
  position: relative;
  height: 5rem;
  border: 0.1rem solid #a5afbd;
  padding: 2.4rem 1.2rem 0.6rem 1.2rem;
  border-radius: 0.3rem;
  font-size: 1.6;
}

.newslettter p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 0;
  margin-bottom: 2.4rem;
}

.newslettter ul li {
  display: inline-block;
  text-align: center;
  font-size: 1.8rem;
  border: 0.3rem solid #374661;
  margin-right: 1.2rem;
  padding: 0.8rem;
  color: rgba(255, 255, 255, 0.493);
  width: 4.4rem;
  height: 4.4rem;
}

.newslettter ul li:hover {
  cursor: pointer;
  color: #fff;
  border: 0.3rem solid #fff;
}

.copyright,
.language-select {
  flex-basis: 50%;
}

.copyright ul li {
  display: inline;
}

.language-select {
  text-align: right;
}

.language-select .fas {
  color: #0abf53;
}

.break-line {
  min-height: 0.1rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.315);
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  margin: 2.4rem 0;
}

/*MEDIA QUERIES*/

@media (min-width: 1249px) {
  .fa-bars {
    display: none;
  }
}

@media (max-width: 1248px) {
  .nav-element {
    display: none;
  }
  .fa-bars {
    padding: 3.5rem 2.4rem;
    right: 0;
    font-size: 2.4rem;
    color: #000;
  }
}

@media (max-width: 768px) {
  .landing-info {
    margin-top: 2.4rem;
    flex-basis: 100%;
  }

  .landing-video {
    flex-basis: 100%;
    padding: 0 2.4rem;
    margin: 0;
  }

  .brands-logo {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .growth-flex {
    flex-basis: 100%;
    margin: 1.5rem;
  }

  .white-space img {
    display: none;
  }

  .payments-info {
    margin-top: 4.8rem;
  }

  .payments-info h2,
  .center-text {
    width: 98%;
  }

  .payment-left,
  .payment-right {
    flex-basis: 100%;
    padding: 0 2.4rem;
  }

  .transactions-video,
  .transactions-right,
  .transactions-info {
    flex-basis: 100%;
  }

  .footer-elements {
    flex-basis: 50%;
    margin-bottom: 2.5rem;
  }

  .copyright,
  .language-select {
    flex-basis: 100%;
    text-align: left;
  }

  .newslettter {
    flex-basis: 60%;
  }
}
