/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  color: #00112c;
  /*must find correct font*/
  font-family: "Fakt", sans-serif, Helvetica, Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/*TEXT FONT STYLES*/

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 74px;
  text-align: left;
  width: 80%;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}

h3 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
  padding: 24px;
}

h4,
h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

h5 {
  text-align: left;
}

.landing-info p {
  padding: 24px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  width: 90%;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding: 24px;
}



/*STYLES FOR NAV BAR*/
.wrapper {
    margin: 0 auto;
    max-width: 1248px;
    padding-right: 24px;
    padding-left: 24px;
}
.nav-left {
  height: 72px;
  top: 0;
  width: 100%;
  max-width: 1248px;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}


.nav-left li:nth-child(n+2) a:hover {
  border-top: 4px solid transparent;
  border-color: #0abf53;
  padding-bottom: 22px;
  padding-top: 20px;

}


.nav-left li:nth-last-child(1) a:hover {
  border-top: 4px solid transparent;
  border-color: transparent;
  padding-bottom: 22px;
  padding-top: 20px;

}

.nav-left li:nth-child(5) {
  margin-right: 177px;
}

.nav-left img {
  width: 100px;
  height: 39px;
}

/*STYLES FOR BUTTONS AND LINKS*/

.green-button {
  color: #fff;
  background-color: #0abf53;
  border-color: #0abf53;
  line-height: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 12px 24px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin: 12px 12px 12px 0;
}

.green-button:hover {
  color: #fff;
  background-color: #078f3e;
  border-color: #078f3e;
   transition: all .2s ease-in-out;
}
.informatio-button {
  color: #0abf53;
  background-color: transparent;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  font-weight: 600;
  font-size: 1rem;
}

.informatio-button a:visited {
  color: #0abf53;
}

.informatio-button a:hover {
  color: #0abf53;
  box-shadow: none;
  border-bottom: 1px solid transparent;
  border-color: #0abf53;
  padding-bottom: 12px;
}


/*STYLES FOR LANDING SECTION*/

.landing {
    margin: 0 auto;
    max-width: 1248px;
    padding-right: 24px;
    padding-left: 24px;
}

.landing-flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: -24px;
  margin-right: -24px;
}

.landing-info {
  flex-basis: 50;
}

.landing-video {
  flex-basis: 50;
}

.landing-video video {
  width: 576px;
  height: 672px;
  padding: 0 24px;
}

.brands-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 48px;
}

.brands-logo img {
  width: 160px;
  height: 70px;
}

/*STYLES FOR INFORMATION ABOUT POSSIBILITIES WITH ADYEN*/

.information-container {
  background: #f3f6f9;
  text-align: center;
  padding-top: 96px;
}

.information-flex {
  max-width: 1248px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 100px;
}
.information-container img {
  width: 40px;
  height: 40px;
}

.white-space img {
  height: 96px;
  width: 100%;
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: -25px;
}

/*STYLE FOR PAYMENT INFORMATION SECTION*/

.payment-flex {
  max-width: 1248px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.payments-info {
  padding-bottom: 48px;
}

.payments-info h2,
.center-text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.center-button {
  text-align: center;
}

.payments-info img {
  width: 576px;
  height: auto;
  padding-right: 24px;
  margin: 30px 0;
}

.payment-left, .payment-right {
  max-width: 576px;
  flex-basis: 50%;
}

.payment-left {
  padding-right: 24px;
}

.payment-right {
  padding-left: 24px;
}

.payment-flex p {
  padding: 0 0 24px;
}

.payments-info .informatio-button {
  padding-bottom: 48px;
}


/*TRANSACTIONS SECTION STYLES*/

.transactions {
  background: #00112c;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.transactions h2,
.transactions h5,
.transactions p {
  color: #fff;
}

.transactions img {
  width: 20px;
}

.transactions-video {
  flex-basis: 48%;
}

.transactions-right {
  flex-basis: 48%;
}

.transactions-info {
  flex-basis: 23%;
}

/*JOURNEY SECTION STYLE*/

/*MEDIA QUERIES*/

@media (min-width: 1248px) {
  .fa-bars {
    display: none;
  }
}

@media (max-width: 1247px) {
  .nav-left li:nth-child(n+2) {
    display: none;
  }
}