@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html{ 
  font-size: 62.5%; /*making sure that 1rem = 10px*/
}

body {
  color: #00112c;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  line-height: 2.6rem;
}

/*TEXT FONT STYLES*/

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

h1 {
  font-size: 6rem;
  line-height: 6.4rem;
  text-align: left;
  width: 80%;
}

h2 {
  font-size: 4.8rem;
  line-height: 5.8rem;
  text-align: center;
}

h3 {
  font-size: 3.2rem;
  line-height: 4.2rem;
  padding: 2.4rem;
}

h4,
h5 {
  font-size: 2rem;
  line-height: 2rem;
}

h5 {
  text-align: left;
}

.landing-info p {
  width: 90%;
}

p {
  padding: 2.4rem 0;
  font-size: 2rem;
  line-height: 3rem;
}

/*STYLES FOR NAV BAR*/
nav {
  margin: 0 auto;
  max-width: 1248px;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}
.nav-wrapper {
  height: 7.rem;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.nav-hover-green-border a:hover {
  border-top: 0.4rem solid transparent;
  border-color: #0abf53;
  padding-bottom: 2.2rem;
  padding-top: 2rem;
}

.nav-element-margin {
  margin-right: 17.7rem;
}

.nav-wrapper img {
  width: 10rem;
  height: 3.9rem;
}

/*STYLES FOR BUTTONS AND LINKS*/

.green-button {
  color: #fff;
  background-color: #0abf53;
  border: none;
  line-height: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 12px 24px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin: 12px 12px 12px 0;
}

.green-button:hover {
  color: #fff;
  background-color: #078f3e;
  border-color: #078f3e;
  transition: all 0.2s ease-in-out;
}
.informatio-button {
  color: #0abf53;
  background-color: transparent;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  font-weight: 600;
  font-size: 1rem;
}

.informatio-button a:link {
  color: #0abf53;
}

.informatio-button a:visited {
  color: #0abf53;
}

.informatio-button a:hover {
  color: #0abf53;
  box-shadow: none;
  border-bottom: 1px solid transparent;
  border-color: #0abf53;
  padding-bottom: 12px;
}

.outro-button {
  padding: 0 24px;
  margin: 0;
  background-color: #00112c;
  border-color: #00112c;
}

.outro-button a {
  display: inline-block;
  color: #fff;
  line-height: 16px;
  font-size: 1rem;
  font-weight: 600;
  margin: 12px 12px 12px 0;
}

.outro-button:hover {
  cursor: pointer;
  background-color: #1b2b44;
  border-color: #1b2b44;
}

.footer-container li a:link {
  color: #fff;
}

.footer-container li a:visited {
  color: #fff;
}

.footer-container li a:hover {
  color: #fff;
  text-decoration: underline;
}

/*STYLES FOR LANDING SECTION*/

.landing {
  margin: 0 auto;
  max-width: 1248px;
}

.landing-flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.landing-info {
  padding-left: 24px;
  flex-basis: 45%;
}

.landing-video {
  flex-basis: 42%;
  margin-left: 40px;
}

.landing-video video {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.brands-logo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  padding: 48px 0;
}

.brands-logo img {
  width: 100%;
  max-width: 160px;
  height: 70px;
}

/*STYLES FOR INFORMATION ABOUT POSSIBILITIES WITH ADYEN*/

.information-container {
  background: #f3f6f9;
  text-align: center;
  padding-top: 96px;
  width: 100%;
}

.information-flex {
  max-width: 1248px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 100px;
}
.information-container img {
  width: 40px;
  height: 40px;
}

.growth-flex {
  flex-basis: 32%;
}

.white-space img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 95px;
}

/*STYLE FOR PAYMENT INFORMATION SECTION*/

.payment-flex {
  max-width: 1248px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.payments-info {
  padding-bottom: 48px;
}

.payments-info h2,
.center-text {
  width: 50%;
  max-width: 567px;;
  margin: 0 auto;
  text-align: center;
}

.center-button {
  text-align: center;
}

.payments-info img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 30px 0;
}

.payment-left,
.payment-right {
  flex-basis: 50%;
}

.payment-left {
  padding-left: 48px;
}

.payment-right {
  padding-left: 48px;
  padding-right: 24px;
}

.payment-flex p {
  padding: 0 0 24px;
}

.payments-info .informatio-button {
  padding-bottom: 48px;
}

/*TRANSACTIONS SECTION STYLES*/

.transactions-wrapper {
  background: #00112c;
  padding-bottom: 48px;
  padding-top: 48px;
}

.transactions {
  width: 90%;
  max-width: 1248px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.transactions h2,
.transactions h5,
.transactions p {
  color: #fff;
  text-align: left;
  padding-left: 0;
}

.transactions img {
  width: 20px;
}

.transactions-video video {
  width: 100%;
  height: auto;
}

.transactions-video {
  flex-basis: 48%;
}

.transactions-right {
  flex-basis: 32%;
}

.transactions-info {
  flex-basis: 23%;
  margin-bottom: 24px;
}

/*JOURNEY SECTION STYLE*/

.outro-section {
  background-color: #0abf53;
  color: #fff;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

/*FOOTER STYLES*/

footer {
  padding-top: 96px;
  padding-bottom: 0;
  background: #00112c;
  color: #fff;
}

footer a:visited {
  color: #fff;
}

.footer-container {
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer-container li {
  padding-bottom: 6px;
}

.footer-elements {
  align-self: flex-start;
  flex-basis: 18%;
}

.newslettter {
  flex-basis: 28%;
}

.newslettter form input {
  width: 83%;
  background: transparent;
  margin: 15px 0;
}

.newslettter form button {
  position: relative;
  cursor: pointer;
  width: 15%;
  left: -5px;
}

.newslettter form input,
.newslettter form button {
  position: relative;
  height: 50px;
  border: 1px solid #a5afbd;
  padding: 24px 12px 6px 12px;
  border-radius: 3px;
  font-size: 16px;
}

.newslettter p {
  font-size: 12px;
  line-height: 18px;
  padding: 0;
  margin-bottom: 24px;
}

.newslettter ul li {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  border: 3px solid #374661;
  margin-right: 12px;
  padding: 8px;
  color: rgba(255, 255, 255, 0.493);
  width: 44px;
  height: 44px;
}

.newslettter ul li:hover {
  cursor: pointer;
  color: #fff;
  border: 3px solid #fff;
}

span {
  font-weight: 600;
}

.copyright,
.language-select {
  flex-basis: 50%;
}

.copyright ul li {
  display: inline;
}

.language-select {
  text-align: right;
}

.language-select .fas {
  color: #0abf53;
}

.break-line {
  min-height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.315);
  padding-right: 24px;
  padding-left: 24px;
  margin: 24px 0;
}

/*MEDIA QUERIES*/

@media (min-width: 1249px) {
  .fa-bars {
    display: none;
  }
}

@media (max-width: 1248px) {
  .nav-element {
    display: none;
  }
  .fa-bars {
    padding: 35px 24px;
    right: 0;
    font-size: 24px;
    color: #000;
  }
}

@media (max-width: 768px) {
  .landing-info {
    margin-top: 24px;
    flex-basis: 100%;
  }

  .landing-video {
    flex-basis: 100%;
    padding: 0 24px;
    margin: 0;
  }

  .brands-logo {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .growth-flex {
    flex-basis: 100%;
    margin: 15px;
  }

  .white-space img {
    display: none;
  }

  .payments-info {
    margin-top: 48px;
  }

  .payments-info h2,
  .center-text {
    width: 98%;
  }

  .payment-left,
  .payment-right {
    flex-basis: 100%;
    padding: 0 24px;
  }

  .transactions-video,
  .transactions-right,
  .transactions-info {
    flex-basis: 100%;
  }

  .footer-elements {
    flex-basis: 50%;
    margin-bottom: 25px;
  }

  .copyright,
  .language-select {
    flex-basis: 100%;
    text-align: left;
  }

  .newslettter {
    flex-basis: 60%;
  }
}
